@import url(http://weloveiconfonts.com/api/?family=entypo);

/* custom font */
@font-face{
  font-family:"OpenSans Bold";
  src: local("OpenSans-Bold") format ('opentype');
  src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face{
  font-family: "OpenSans";
  src: local("Opensans-Regular") format ('opentype');
  src: url("../fonts/Opensans-Regular.ttf");
}

.opensansbold{
  font-family:"OpenSans Bold";

}

.opensans{
  font-family: "OpenSans";
}

/* class for social icon */

[class*="entypo-twitter-circled"]:before {
  font-family: 'entypo', sans-serif;
  color:#a09f9e;
}

[class*="entypo-twitter-circled"]:hover:before {
  font-family: 'entypo', sans-serif;
  color:#fe2264;
}

[class*="entypo-facebook-circled"]:before {
  font-family: 'entypo', sans-serif;
  color:#a09f9e;
}

[class*="entypo-facebook-circled"]:hover:before {
  font-family: 'entypo', sans-serif;
  color:#fe2264;
}

[class*="entypo-instagrem"]:before {
  font-family: 'entypo', sans-serif;
  color:#a09f9e;
}

[class*="entypo-instagrem"]:hover:before {
  color:#fe2264;
}

a.entypo-twitter-circled:hover {

  text-decoration: none;
}

a.entypo-facebook-circled:hover {

  text-decoration: none;
}

a.entypo-instagrem:hover {

  text-decoration: none;
}

/* header */

#header
{
	background-image: url("../images/header_bkg.png");
	color:#ffffff;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-size: 100%;
  
}

#header a{
	color:#ffffff;
}

#header .nav a:hover{
	text-decoration: underline;
	background-color: transparent;
}

/* class for fonts colors */

.textstylemagenta {
	color:#ff1f5d;
	font-weight: bold;
}

.textstyleviolet {
	color:#525252;
	
}

.textstylegrey {
	color:#7e7e7e;
	font-size: 12;
	
}



/* class for the custom buttons */

.custombtn  {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-weight:bold;
  color: #ff1f5d;
  font-size: 12px;
  background: #ffffff;
  padding: 10px 60px 10px 60px;
  border: solid #ff1f5d 2px;
  text-decoration: none;
}

.btn:hover {
  background: #ff1f5d;
  text-decoration: none;
  color: white; 
}
 
.num{
	padding: 15px 20px 15px 20px;
}

.article {
  margin-bottom:100px;


}

.articleborder{
  border-style: solid;
  border-width: 1px;
  border-color: #e9e9e9;
  padding: 0px;
  padding-bottom: 25px;
}

.articleimg {
  width: 100%;
}

.articletext{
  margin-left: 30px;
  margin-top: 30px;
}

.articletext h3{
  word-spacing: 5px
}


.date{
  background: #f5f5f5;
  margin-top:200px;
}

.date .textstylemagenta{
  font-size:40px
}

.date .textstylegrey{
  font-size:20px;
}

.date .textstylegrey .opensans{
  font-size:18px;
}
/* footer */

#footer {
  background: #f5f5f5;
  text-align: center;

}

.contacts  {
  background: #e6e6e6;
  text-align: center;
}