@import url(http://weloveiconfonts.com/api/?family=entypo);


[class*="entypo-twitter-circled"]:before {
  font-family: 'entypo', sans-serif;
  color:#a09f9e;
}

[class*="entypo-twitter-circled"]:hover:before {
  font-family: 'entypo', sans-serif;
  color:#fe2264;
}

[class*="entypo-facebook-circled"]:before {
  font-family: 'entypo', sans-serif;
  color:#a09f9e;
}

[class*="entypo-facebook-circled"]:hover:before {
  font-family: 'entypo', sans-serif;
  color:#fe2264;
}

[class*="entypo-instagrem"]:before {
  font-family: 'entypo', sans-serif;
  color:#a09f9e;
}

[class*="entypo-instagrem"]:hover:before {
  color:#fe2264;
}

#header
{
	background-image: url("../images/header_bkg.png");
	font-weight:bold;
	color:#ffffff;

}

#header a{
	color:#ffffff;
}

#header .nav a:hover{
	text-decoration: underline;
	background-color: transparent;
}

.textstylemagenta {
	color:#ff1f5d;
	font-weight: bold;
}

.textstyleviolet {
	color:#525252;
	
}

.textstylegrey {
	color:#7e7e7e;
	font-size: 12;
	
}

.custombtn  {
	-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-weight:bold;
  color: #ff1f5d;
  font-size: 12px;
  background: #ffffff;
  padding: 10px 60px 10px 60px;
  border: solid #ff1f5d 2px;
  text-decoration: none;
}

.btn:hover {
  background: #ff1f5d;
  text-decoration: none;
  color: white; 
}
 
.num{
	padding: 15px 20px 15px 20px;
}

.contacts  {
  background: #e6e6e6;

}

#footer {
  background: #f5f5f5;
  align=center;

}

