#header
{
	background-color: #fb816e;
	font-weight:bold;
	color:#ffffff;



}

#header a{
	color:#ffffff;
}

#header .nav a:hover{
	text-decoration: underline;
	background-color: transparent;
}

.textstylemagenta {
	color:#ff1f5d;
	font-weight: bold;
}

.textstyleviolet {
	color:#525252;
	
}

.textstylegrey {
	color:#c8c8c8;
	
}